section {
    font-family: 'Montserrat', sans-serif;
}
section h1 {
    text-align: center;
    margin-bottom: 20px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-Element{
    height: 70%;
    width: 25%;
    background-color:aliceblue;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.product-image{
    width: 75%;
    margin-bottom: 20px;
}
.product-title{
    color: #48494a;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.product-title:hover{
    color: #137ED9;
}
.product-description{
    color: rgb(154, 151, 152);
    padding-left: 10px;
    padding-right: 10px;
    /* width: fit-content; */
}
.product-category{
    color: #48494a;
    cursor: pointer;
}
.product-category:hover{
    color: #137ED9;
}
.product-price {
    color: #48494a;
    font-weight: bold;
}
.product-rating{
    color: #fff;
    background-color: #137ED9;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    border-radius: 15px;
    margin: auto;
}
.display-msg-container{
    background-color: aliceblue;
}
.empty-message{
    color: #48494a;
}

@media screen and (min-width: 1200px){
    .product-image{
        height: 40%;
    }
    
}
@media screen and (min-width: 801px) and (max-width: 1199px) {
    /* .cards-container{
        justify-content: center;
    } */
    .card-Element {
        width: 40%;
    }
    
}
@media screen and (max-width: 800px){
    .card-Element{
        width: 60%;
    }
    .product-rating{
        width: 60%;
    }
}