.form-main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.form-sub-container{
    margin: auto;
    margin-top: 8vh;
    padding-bottom: 80px;
    padding-top: 50px;
}
.form-sub-container img {
    margin-bottom: 30px;
}

form label{
    font-size: 25px;
    color: #48494a;
}
.text-input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #2892fc;
    border-style: solid;
}
button{
    height: 45px;
    width: 200px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #137ED9;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}
.warning{
    color: red;
    margin-top: 1px;
    margin-bottom: 1px;
}
.successful{
    color: green;
    margin-top: 15px;
}
.failure{
    color: red;
    margin-top: 15px;
}
input[type="checkbox"]{
    margin-right: 15px;
    height: 22px;
    width: 22px;
    cursor: pointer;
}
.visit{
    display: none;
}

@media screen and (max-width: 800px) {
    .text-input{
        width: 80%;
    }
    .terms{
        font-size: 20px;
    }
    input[type="checkbox"]{
        margin-right: 10px;
    }
}
