body{
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
  }
header{
    height: 8vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
    position: fixed;
    top: 0;
    width: 100%;
}
header img{
    height: 70%;
    width: 12%;
    cursor: pointer;
}
header nav{
    display: none;
}
header div ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
header div ul li{
    margin-right: 25px;
    cursor: pointer;
}
header div ul li:hover{
    color: #2892fc;
    font-weight: bold;
}
header button{
    height: 40px;
    width: 70px;
    border-radius: 18px;
    border-width: 1px;
    background-color: inherit;
    color: #2892fc;
    border-color: #2892fc;
    border-style: solid;
    margin-left: 3%;
    cursor: pointer;
}
header button:hover{
    background-color: #137ED9;
    color: #ffffff;
}
section{
    background-color: rgba(19, 126, 217, 0.06);
    padding-top: 10%;
    text-align: center;
    padding-bottom: 20px;
}
section button a{
    text-decoration: none;
    color: #ffffff;
}
section div{
    overflow: hidden;
}
section h1{
    color: #48494a;
    font-size: 230%;
    font-weight: bolder;
    padding-right: 10%;
    padding-left: 10%;
}
section button, .contact-inputs button{
    height: 45px;
    width: 200px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #137ED9;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}
.services {
    display: flex;
    flex-direction: column;
}
.services h1, .team-members h1, .as-seen-on h1, .enter-mail h1, .contact h1 {
    color: #48494a;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px;
}
.services-sub-container-1, .services-sub-container-2, .services-sub-container-3, .services-sub-container-4, .services-sub-container-5{
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    margin-right: 15%;
    margin-bottom: 2%;
}
.services-sub-container-3, .services-sub-container-4, .services-sub-container-5{
    display: none;
}
.services-sub-container-1 div, .services-sub-container-2 div{
    margin-right: 30px;
}
.services-sub-container-1 p, .services-sub-container-2 p{
    margin-top: 0px;
    color: rgb(154, 151, 152);
}
.services-sub-container-1 h4, .services-sub-container-2 h4, .contact-inputs h4, .address-details h4{
    color: rgb(90, 89, 89);
    margin-top: 10px;
    margin-bottom: 10px;
}
.services-icon{
    font-size: 45px;
    margin-left: 3px;
    color: #2892fc;
    cursor: pointer;
}
#sectionMoreAbout{
    display: flex;
    flex-direction: row;
    background-color: rgba(142, 157, 169, 0.06);
}
#sectionMoreAbout .services{
    margin-left: 10%;
    margin-top: 4%;
}
#sectionMoreAbout .services h1{
    font-size: 35px;
    text-align: left;
    padding-left: 18%;
}
#sectionMoreAbout img{
    width: 45vw;
    height: 70vh;
}
.team-members{
    display: flex;
    flex-direction: column;
}
.member-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.member{
    margin-right: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
}
.member h4{
    text-align: center;
}
.member p{
    text-align: center;
}
.as-seen-on{
    display: flex;
    flex-direction: column;
    background-color: rgba(142, 157, 169, 0.06);
    padding-top: 20px;
    padding-bottom: 50px;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-container img{
    width: 15%;
    margin-right: 10px;
}
.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.pricing-card{
    height: 100%;
    width: 25%;
    margin-right: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 237, 250);
    padding-bottom: 30px;
}
.pricing-card:hover{
    background-color: rgba(19, 126, 217, 0.06);
}
.pricing-card h4 {
    color:#2892fc;
    font-weight: bold;
    margin-bottom: 35px;
}
.pricing-card p {
    color: gray;
    margin-bottom: 30px;
    line-height: 10px;
}
.pricing-card p span{
    font-size: 20px;
    font-weight: 900;
    color: #48494a;
}
.btn-1, .btn-2, .btn-3{
    height: 45px;
    width: 100px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #137ED9;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}
.btn-1{
    margin-top: 24%;
}
.btn-2{
    margin-top: 11%;
}
.btn-3{
    margin-bottom: 5%;
}
.enter-mail{
    text-align: center;
    background-color: rgba(142, 157, 169, 0.06);
    padding-bottom: 30px;
}
.enter-mail h1 {
    padding-top: 30px;
    margin-bottom: 0px;
}
.enter-mail p{
    letter-spacing: 0.5px;
    color: gray;
}
.enter-mail input{
    height: 45px;
    width: 30%;
    border-radius: 20px;
    padding-left: 10px;
    border-width: 1px;
    border-color: #2892fc;
    border-style: solid;
    margin-bottom: 20px;
    font-size: 18px;
}
.contact{
    padding-bottom: 30px;
}
.contact-containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-inputs{
    margin-right: 60px;
}
.contact-inputs h4{
    font-size: 25px;
}
.name-input, .mail-input, .subject-input{
    height: 45px;
    width: 50%;
    border-radius: 20px;
    padding-left: 10px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 10px;
    font-size: 18px;
}
.text-area{
    height: 40%;
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    border-color: gray;
    margin-bottom: 20px;
}
.address-details h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.details{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 15px;
}
.details p{
    margin-left: 20px;
    cursor: pointer;
}
footer{
    background-color: #34363a;
}
.footer-cont {
    display: flex;
    flex-direction:row;
    padding-top: 30px;
    padding-left: 15%;
    margin-bottom: 0px;
}
.footer-container-1, .footer-container-2 {
    width: 40%;
    display: flex;
    flex-direction: row;
}
.footer-container-1{
    margin-right: 5%;
}
.footer-cont-1-sub-2, .footer-cont-2-sub-1, .footer-cont-2-sub-2{
    width: 50%;
}
.footer-description{
    color: gray;
}
.footer-heading{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}
.footer-cont-2-sub-2 div i {
    font-size: 35px;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
}
.footer-logo-container{
    display: flex;
    flex-direction: row;
}
.footer-cont-2-sub-2 div #i1:hover{
    color: #4267B2;
}
.footer-cont-2-sub-2 div #i2:hover{
    color: #1DA1F2;
}
.footer-cont-2-sub-2 div #i3:hover{
    color: rgb(242, 22, 22);
}
.footer-cont-2-sub-2 div #i4:hover{
    color: #137ED9;
}
.footer-cont-1-sub-2 p, .footer-cont-2-sub-1 p{
    color: gray;
    cursor: pointer;
}
.footer-cont-1-sub-2 p:hover, .footer-cont-2-sub-1 p:hover{
    color:#137ED9;
}
.copyright{
    background-color: #34363a;
    margin-top: 0px;
}
.copyright hr{
    border-color: rgb(102, 100, 100);
    height: 0.01em;
    border-style: solid;
}
.copyright p{
    text-align: center;
    color: gray; 
}
.copyright i{
    margin-left: auto;
}
.footer-icon{
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
}


@media screen and (min-width: 801px) and (max-width: 1150px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 10%;
    }
    header img{
        width: 20%;
        height: 85%;
    }
    header div ul{
        display: none;
    }
    .navbaricon{
        display: block;
        font-size: 30px;
        line-height: 40px;
        margin-right: 40px;
        cursor: pointer;
    }
    header nav{
       display: block;
       padding: 0;
       margin: 0;
       list-style: none;
       background: #ffffff;
       height: 40px;
       width: 20%;
       float: right;
    }
    #check{
       display: none;
    }
    header nav ul{
        position: fixed;
        width: 100%;
        height: 45vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    header nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    header nav ul li a{
        text-decoration: none;
        color: #34363a;
        padding: 7px 13px;
        border-radius: 3px;
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #sectionMoreAbout{
        display: flex;
        flex-direction: row;
    }
    .services .services-sub-container-1, .services .services-sub-container-2{
        display: none;
    }
    .services-sub-container-3, .services-sub-container-4, .services-sub-container-5{
        display: block;
        display: flex;
        flex-direction: row;
        margin-left: 13%;
        margin-right: 10%;
        margin-bottom: 2%;
    }
    .services-sub-container-3 div, .services-sub-container-4 div, .services-sub-container-5 div{
        margin-right: 20px;
    }
    .services-sub-container-3 p, .services-sub-container-4 p, .services-sub-container-5 p{
        margin-top: 0px;
        color: rgb(154, 151, 152);
    }
    .services-sub-container-3 h4, .services-sub-container-4 h4, .services-sub-container-5 h4{
        color: rgb(90, 89, 89);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #sectionMoreAbout {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }
    #sectionServices .services-sub-container-1, #sectionServices .services-sub-container-2{
        display: block;
        display: flex;
        flex-direction: row;
        margin: auto;  
        margin-bottom: 30px;
    }
    #sectionMoreAbout img{
        width: 80vw;
        height: 60vh;
        margin: auto;
    }
    .member-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .member{
        margin-bottom: 35px;
    }
    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pricing-card{
        width: 40%;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .footer-cont{
        display: flex;
        flex-direction: column;
    }
    .footer-container-1 , .footer-container-2{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }
    .footer-cont-1-sub-1, .footer-cont-1-sub-2{
        width: 50%;
        padding-top: 10px;
    }

}

@media screen and (max-width: 800px) {
        header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-left: 10%;
        }
        header img{
            width: 20%;
        }
        header div ul{
            display: none;
        }
        .navbaricon{
            display: block;
            font-size: 30px;
            line-height: 40px;
            margin-right: 40px;
            cursor: pointer;
        }
        header nav{
           display: block;
           padding: 0;
           margin: 0;
           list-style: none;
           background: #ffffff;
           height: 40px;
           width: 20%;
           float: right;
        }
        #check{
           display: none;
        }
        header nav ul{
            position: fixed;
            width: 100%;
            height: 55vh;
            background: #ffffff;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        header nav ul li{
            display: block;
            margin: 20px 0;
            line-height: 30px;
        }
        header nav ul li a{
            text-decoration: none;
            color: #34363a;
            padding: 7px 13px;
            border-radius: 3px;
            font-size: 20px;
        }
        a:hover{
            background: none;
            color: #0082e6;
        }
        #check:checked ~ ul{
            left: 0;
        }
        .services-sub-container-1, .services-sub-container-2{
            display: flex;
            flex-direction: column;
            
        }
        #sectionMoreAbout{
            display: flex;
            flex-direction: column;
        }
        
        #sectionMoreAbout img{
            height: 80%;
            width: 80%;
            margin: auto;
        }
        
        .member-container{
            display: flex;
            flex-direction: column;
        }
        .member{
            margin-bottom: 20px;
        }
        .pricing{
            display: flex;
            flex-direction: column;
        }
        .pricing-card{
            width: 70%;
            margin: auto;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
        .img-container{
            display: flex;
            flex-direction: column;
        }
        .img-container img{
            width: 70%;
            margin: auto;
            margin-bottom: 20px;
        }
        .enter-mail input{
            width: 70%;
        }
        .contact-containers{
            display: flex;
            flex-direction: column;
        }
        .contact-inputs, .address-details{
            padding-left: 6%;
        }
        .name-input, .mail-input, .subject-input, .text-area{
            width: 90%;
        }
        .contact-inputs button{
            margin-bottom: 20px;
        }
        .more-about .services .services-sub-container-1, .more-about .services .services-sub-container-2{
            margin-left: 7%;
        }
        #sectionMoreAbout .services h1{
            padding-left: 10%;
        }
        .as-seen-on{
            padding-bottom: 30px;
        }
        .footer-cont{
            display: flex;
            flex-direction: column;
        }
        .footer-container-1, .footer-container-2{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
        }
        .footer-cont-1-sub-1, .footer-cont-1-sub-2{
            width: 80%;
        }
}